@model int
<div class="row">
    <div class="col-6">
        <a asp-action="Edit" asp-route-Id="@Model" class="btn btn-info form-control" > تعديل </a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control"> الرجوع الي القائمه السابقه </a>
    </div>
</div>