@model xSteak.Models.ViewModels.OrderDetalisViewModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="backgroundWhite">
    <div class="row px-3">
        <div class="col-8">
            <h2 class="text-info text-right"> تأكيد الطلب </h2>
        </div>
        <div class="col-4 text-right">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success form-control">طلب جديد</a>
        </div>

    </div>

    @if (Model != null)
    {
        <div style="color:maroon" class="p-3 text-right">
            تم تأكيد طلبك ، يرجى الاطلاع على ملخص الطلب أدناه!
            <br />
            لا تتردد في الاتصال بنا إذا كان لديك أي أسئلة.
        </div>
      
        <partial name="_IndividualOrderDetalis" model="@Model" />

    }
    else
    {
        <div class="text-danger">
            Error.... Please try again
        </div>
    }
</div>
